export DB_HOST=127.0.0.1
export DB_PORT=5432
export DB_NAME=aldra_dev
export DB_USER=app
export DB_PASSWORD=BX3R7blD2UiPiM9F
export DB_JDBC_DRIVER=org.postgresql.Driver
export DB_JDBC_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
